body {
    background: #d1d177;
    font-family:'Raleway', sans-serif;
    color: rgb(34, 34n, 34);
}

.conteiner {
    width: 900px;
    margin: 0 auto;
}

.foto-principal {
    width: 200px;
    border: 2px solid white;
    border-radius: 50%10% 30% 70%;
    margin: 30px 30px 30px 30px;
    padding: 10px;
    box-shadow: 0px 0px 12px black;
  
}

h1 {
    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
}

h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(76 42 42);
    font-weight: 100;
    letter-spacing: -1px;
}
