body {
    background: #d1d177
}

p {
    color:#353533;
}
.foto-principal {
    width: 200px;
    border: 2px solid white;
    border-radius: 50%10% 30% 70%;
    margin: 30px 30px 30px 30px;
    padding: 10px;

    

}